body{
    background: rgb(136, 136, 241);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}
header:hover{
    background: rgba(223, 41, 132, 0.363);
}
section{
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
#imagem{
    width:250px; 
    height:250px;
    border-radius: 200px;
}
div{
    text-align: center;
    padding: 9px;
}
